@import "publishing_platform_publishing_components/all_components";
@import "objects/sidebar";
@import "publishing_platform_nokodiff/nokodiff";

.container {
  max-width: 960px;
}

.index-button-group {
  @include media-breakpoint-up(sm) {
    float: right;
  }
}

.btn {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }  
}

.app-btn--link {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}